.nav-tabs-more {
    display: -webkit-box;
}
.more-tab>a.dropdown-toggle {
    background-color: transparent;
}
.more-tab-menu {
    z-index: 2000;
    position: absolute;
    right: 0;
    left: auto;
    height: 300px;
    overflow: auto;
}
